<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--核心配置文件-->
<mapper namespace="kuang.dao.StudentMapper">

    <select id="getStudent" resultMap="StudentTeacher">
        select * from mybatis.student;
    </select>

    <resultMap id="StudentTeacher" type="kuang.pojo.Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
<!--        复杂的属性，我们需要单独处理，对象：association，集合：collection-->
        <association property="teacher" column="tid" javaType="kuang.pojo.Teacher" select="getTeacher"/>
    </resultMap>

    <select id="getTeacher" resultType="kuang.pojo.Teacher">
        select * from mybatis.teacher;
    </select>

</mapper>